$brec-point1: 600px;
$brec-point2: 380px;

body,
h1,
h2,
h3,
h4,
p,
a {
    margin: 0;
    font-size: 100%;
    font-weight: normal;
}
.wrapper {
    width: 560px;
    
    margin: 0 auto auto auto;
    background-color: rgb(243, 247, 247);
    @media all and (max-width: $brec-point1) {
        width: 100vw;
       
    }
}
.header {       
    height: 86px;
    
    background-color: #4bb513;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    @media all and (max-width: $brec-point1) {
        height: 59px;
       
       
    }
    &_btn {     /* кнопки навигации в заголовке */
        width: 70px;
        height: 70px;
        background-size: cover;
        margin: auto;
        border-radius: 10px;
        cursor: pointer;
        &:nth-child(1) {  /* кнопка назад */
            background-image: url('../img/Go1.png');
        }
        &:nth-child(3) {    /* кнопка вперед */
            background-image: url('../img/Go2.png');
        }
        @media all and (max-width: $brec-point1) {
            width: 50px;
            height: 50px;
        }
    }
    &_butn {
        padding-top: 15px;
        text-align: center;
        font-size: 35px;
        @media all and (max-width: $brec-point1) {
            font-size: 28px;
            padding-top: 10px;
        }
    }

}
.hear1 {
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 40px;
    width: 100%;
    background-color: #e0dddd;
    text-align: center;
    
}
.hear {
    margin-top: 10px;
    text-align: center;
    padding: 0;
    font-size: 15px;
    font-weight: bold;
    line-height: 24px;
}
.hearid {    /*  блок календаря */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 490px;
    width: 100%;
    @media all and (max-width: $brec-point1) {
        width: 100vw;
        
        height: 100vw-100vw/7;
    }
}
.ter {    /*  ячейка календаря */
    border: 1px #c7c5c5 solid;
    text-align: center;
    padding: 0;
    font-size: 30px;
    font-weight: bold;
    line-height: 24px;
    position: relative;
    @media all and (max-width: $brec-point1) {
        font-size: 20px;
    }
}
.cir {    /* ячейка количества записей в день */
    display: flex;
    
    align-items:center;
    border-radius: 50%;
    background-color: #ed2110;
    font-size: 20px;
    width: 30%;
    height: 30%;
    text-align: center;
    margin: 15px auto auto;
    padding: auto;
    color: #0f0e0e;
    &-p {
        margin: auto; 
    }
    @media all and (max-width: $brec-point1) {
        width: 35%;
        height: 35%;
        margin-top: 5px;
        font-size: 16px;
        line-height: 15px;
    }
}
.cir1 {    /* начальные праметры кликнутой ячейки */
    position: absolute;
    display: block;
    top: 0;
    border: 2px #278d4e solid;
    border-radius: 45px;
    z-index: 10;
    opacity: 0;
}
.cir2 {     /* конечнвые параметры кликнутой ячейки */
    width: 94%;
    height: 94%;
    opacity: 1;
}
.cir3 {     /* для анимации появления кружка кликнутого дня */
    animation: nev 100ms linear normal;
}
@keyframes nev {    /* анимация появления кружка клика по ячейке */
    from {
        /* От */
        width: 10%;
        height: 10%;
        margin-top: 45%;
        margin-left: 45%;
    }

    to {
        /* До */
        opacity: 1;
        /* полная непрозрачность */
        width: 94%;
        height: 94%;
        margin-top: 3px;
        margin-left: 3px;
    }
}
.razdel {    /*  разделительная полоса */
    
    height: 3px;
    width: 95%;
    margin: 2px;

}
.shape{
    height: 126px;
}
.tablis {    /* таблица отображения записей в выбранный день */
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 4fr 2fr 1fr;
    
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    text-align: center;
    
}
.texti {
    width: 99%;
    padding: 0;
    margin-bottom: 3px;
}
.block_button {    /* блок расположения кнопок */
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.button{     /*  параметры кнопок */
    width: 70px;
    height: 70px;
    background-size: cover;
    cursor: pointer;
    &:nth-child(1) {    /* кнопка сохранить записи в день*/
        background-image: url('../img/save.png');
    }
    &:nth-child(2) {    /* кнопка удалить запись*/
        background-image: url('../img/Dell.png');
    }
    &:nth-child(3) {    /* кнопка активации окна расходов*/
        background-image: url('../img/rash.png');
    }
    &:nth-child(4) {    /* кнопка активации окна статистики*/
        background-image: url('../img/stat1.png');
    }

}
.terin {
    padding: 0;
    margin: 10px;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
}
.active {
    background-color: rgb(199, 216, 68);
}
.oknostatist {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto auto auto;
    background-color: #4bb513;
    padding-bottom: 27px;
    @media all and (max-width: $brec-point1) {
        font-size: 20px;
        
    }
    &_zakrstat{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    &_zakr{
        width: 37px;
        height: 4px;
        background-color: #0f0e0e;
        position: absolute;
        &:nth-child(1) {
            transform: rotate(45deg);
            top: 9px;
        }
        &:nth-child(2) {
            transform: rotate(-45deg);
        }
        
    }
}
#zakrstat {
    position: relative;
    top: 7px;
    left: 523px;
    font-size: 30px;
    cursor: pointer;
    @media all and (max-width: $brec-point1) {
        left: 318px;
        font-size: 20px;
   
     }
    
}
.statistzagl {
    margin-top: 30px;
    background-color: rgba(11, 239, 239, 0);
}
#jarstatist {
    padding: auto;
    text-align: center;
    /*background-color: #13b577;*/
    font-size: 35px;
    @media all and (max-width: $brec-point1) {
       padding-top: 5px;
    }
}
.stattablis {
    margin: 10px auto auto auto;
    width: 90%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px;
    background-color: rgb(139, 219, 132);
    text-align: center;
    
}
.stattabl {
    border-style: solid;
    border-width: 1px;
    border-color: #51b699;
    &__toprow{
        background-color: #21cd96; 
    }
    @media all and (max-width: $brec-point1) {
        font-size: 15px;
        line-height: 22px;
    }
}
.month-color{
    background-color: #b1b5b4;
}
.text-danger{
   color: red;
}
.current-day{
   background-color:rgb(144, 202, 241);
}

.expenses {
    position: relative;
    height: 100%;
    background-color: #4bb513;
    &__head{
    text-align: center;
   
    font-size: 35px;
    background-color: #4bb513;
    @media all and (max-width: $brec-point1) {
        font-size: 30px;
    }
        &-zakr{
            display: inline-block;
            width: 100%;
            text-align: end;
            font-size: 30px;
            cursor: pointer;
            p {
                margin-right: 14px;
                margin-top: 12px;
            }
            @media all and (max-width: $brec-point1) {
                
                font-size: 25px;
            }
        }
    }
    &__tablis{
        margin: 10px auto auto auto;
        width: 90%;
        
        padding-bottom: 27px;
        &-tablis{
            background-color: rgb(139, 219, 132);
            @media all and (max-width: $brec-point1) {
                
                height: 425px;
                overflow-y:scroll;
            }
        }
        &-tabl{
            height: 25px;
            width: 100%;
            display: grid;
            grid-template-columns: 13% 67% 20% ;
            text-align: center;
            
            &:nth-child(1) {
                background-color: #21cd96;
            }
        }
        &-tabl p{
            border: 1px solid #51b699;
        }
        &-texti {
            border: 1px solid #51b699;
           
            padding: 0;
            background-color: #8bdb84;
            &:nth-child(3n) {
                text-align: center;
            }
            &:nth-child(3n-2) {
                text-align: center;
            }


        }
        
    }
}